<% if obj && obj.errors.any? %>
<div id="error_explanation" class="alert alert-danger">
	<% if summary %>
	<strong><%= pluralize(obj.errors.count, "error") %> prohibited this <%=obj.class.to_s.downcase%> from being saved:</strong>
	<% end %>
	<ul>
		<% obj.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
